body{
    background-color: white; 
    margin:0;
    /* rgb(20, 20, 20) */
}

img {
    transition: transform .2s;
    width: 30%;
    overflow: hidden;
    border-radius: 2%;

}
img:hover {
   
    transform: scale(1.2);
}

.features{
    width: 500px;
    position: relative;
}