.navbar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgba(20, 20, 20, 1) ;
    overflow: hidden;
    color: white;
    height: 68px;
   
}

.left{
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
}

.netflixLogo{
    height: 25px;
    width: 80px;
    margin-top: 1.2%;
    margin-left: 4%;
}

.navbarContent{
    align-self: center;
    margin-left: 3%;
}

.navbarContent > * {

    margin-inline: 10%;
    font-weight: bold;
}