.amplify-button[data-variation='primary'] {
  background-color: red;
}
.amplify-button[data-variation='primary']:hover{
  background-color: rgb(98, 1, 1);
}

.amplify-button[data-variation='link']{
  color: white;
}

.amplify-button[data-variation='link']:hover{
  background-color: #888;
  color: white;
}

.amplify-tabs-item:hover{
  color: red;
}

div[data-orientation='horizontal']{
  background-color: black;
}

.amplify-heading.amplify-heading--3{
  color: white;
}

span.amplify-text{
  color: white;
}

hr.amplify-divider--label::after{
  color: white;
  background-color: black;
  font-size: 1rem;
}

label.amplify-label{
  color: white;
}

input.amplify-input{
  color: white;
}

button.amplify-field__show-password{
  color: white;
}

button.amplify-field__show-password:hover{
  color: white;
  background-color: rgb(55, 55, 55);
  border-color: white;
}

button.amplify-field__show-password:focus{
  color: white;
  background-color: rgb(55, 55, 55);
  border-color: white;
}

button.amplify-button--small{
  background-color: red;
  margin-bottom: 1rem;
}

button.amplify-tabs-item[data-state=active]{
 color: white;
 border-color: red;
}

button.amplify-tabs-item[data-state=inactive]{
  color: white;
  background-color: rgb(92, 92, 92);
}

#bglogin{
  background-color: black
}


.amplify-tabs-item[data-state=active] {
  color: black;
  border-color: hsl(0deg 100% 48%);
  background-color: var(--amplify-components-tabs-item-active-background-color);
  transition-property: none;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
